<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="setting1" value="key"/>
	</appSettings>
	<connectionStrings>
		<add name="localhostConnectionString" connectionString="Data Source=localhost;Initial Catalog=DSMDb;Integrated Security=True;Trust Server Certificate=true"/>
	</connectionStrings>
</configuration>